@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  --section-bg-color: #87bfd0;
  --section-bg-color: #bae1ed;
  --ac-color: #f4feff;
  --operations-bg-color: #e9f7f9;
  --display-txt-color: #2e7081;
  --operations-txt-color: #206478;
  --white-bg-color: #ffffff;
  --numbers-txt-color: #868686;
  --equal-bg-color:#69bdda;
  
  --dark-section-bg-color:#121a1f;
  --dark-battons-color:#27373b;
  --dark-display-bg-color:#b6b6b6;
  --dark-hover-bg-color:rgb(30, 43, 46);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 600;
}
section {
  background-color: var(--section-bg-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  
}
.display {
  width: 100%;
  height: 100px;
  background-color: var(--white-bg-color);
  text-align: right;
  padding: 20px;
  font-size: 30px;
}
.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
  
}
.display-2 {
  color: var(--display-txt-color);
}
.temp-result {
  position: absolute;
  font-size: 20px;
  left: 10;
  opacity: 0.3;
  
}
.all-buttons {
  
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  
}
.button {
  /* border: 0.5px solid rgba(92, 92, 92, 0.137); */
  /* display: inline-block; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  background-color: var(--white-bg-color);
  
}
.button:hover {
  /* background-color: rgb(30, 43, 46); */
  background-color: var(--ac-bg-color);
  transform:translate(0.5px,0.5px);
}
.btn-0 {
  grid-column: 1/3;
}

.all-clear {
  background-color: var(--equal-bg-color);
  color: var(--ac-color);
}
.last-entity-clear {
  background-color: var(--operations-bg-color);
  color: var(--operations-txt-color);
}
.operation {
  background-color: var(--operations-bg-color);
  color: var(--operations-txt-color);
}
.equal {
  background-color:var(--equal-bg-color);
}
.number {
  color: var(--numbers-txt-color);
}
